@import "variables";
.card {
  cursor: pointer;
  .gestion {
    display: flex;
    margin-top: 0.5rem;
    border-top: 1px solid black;
    div {
      text-align: center;
      padding: 0.5rem;
      width: 50%;
      &:hover {
        background-color: $maize-croyola;
      }

    }
  }
}
