.counter-container {
  .counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
  }

  .counter-box p {
    margin: 5px 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500
  }

  .counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
  }

  .counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px
  }

  .counter-box.colored {
    background: #3acf87
  }

  // .counter-box.colored p,
  // .counter-box.colored i,
  // .counter-box.colored .counter {
  //   color: rgb(238, 238, 238)
  // }
}
