.p-skeleton {
  overflow: hidden;
  position: relative;
}

.p-skeleton {
  background-color: #e9ecef;
  border-radius: 3px;
}

.p-skeleton:after {
  animation: p-skeleton-animation 1.2s infinite;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
}
.p-skeleton:after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
}

@keyframes p-skeleton-animation {
  from {transform: translateX(-100%);}
  to {transform: translateX(100%);}
}
