@import "../../../../assets/scss/mixins/respond-to";
@import "../../../../assets/scss/variables";
:host {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100vh;
  @include respond-md {
    flex-direction: row;
  }
}
.layout__header {
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1020;
  @include respond-md {
    height: 100vh;
    margin: 0px;
    top: 0;
  }
}

.layout__content {
  flex: 1 1 auto;
  width: calc(100%);
  position: relative;
  margin-bottom: 1rem;
  @include respond-md {
    padding-left: 1rem;
  }
}

.collapse__panel {
  position: relative;

  .panel__action {
    display: none;
    @include respond-md {
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        transform: translate(0deg);
        transition: transform 0.5s;
      }
    }
    position: absolute;
    width: 1rem;
    height: $height-header-top;
    right: -1rem;
    top: 0;
    background-color: $gray-900;
    color: white;
    z-index: 1200;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
  }
}
