@import "../../../../assets/scss/variables";
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

content {
  flex: 1 1 auto;
  overflow: hidden;
  .form__auth {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    .login__form,
    .register__form {
      overflow: hidden;
      border: 1px solid $primary;
      box-shadow: 0 4px 10px 0 rgba($primary, 0.2);
      border-radius: 25px;
      .form__header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        color: white;
        h2 {
          margin: 0%;
          line-height: 1;
        }
        background: $bg-linear;
      }
      form {
        max-width: 450px;
        margin: auto;
        margin-bottom: 2rem;
      }
    }
  }
}

.init__left {
  opacity: 0;
  height: 0;
  transform: translate3d(20px, 0, 0) scaleX(0.9);
}

.animate__bounceOutRight {
  border: none !important;
  height: 0;
}

.animate__bounceOutLeft {
  border: none !important;
  height: 0;
}
