<section class="mt-4 container">
  <h2 class="title">{{ pageCurrent }}</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-bg">
      <li
        [ngClass]="
          i === 0 ? 'breadcrumb-item m-0 active' : 'breadcrumb-item h2 m-0'
        "
        *ngFor="let item of subMenuNavigation; let i = index"
      >
        {{ item }}
      </li>
    </ol>
  </nav>
</section>
<section class="container container__global">
  <section class="form__add">
    <p-fieldset
      p-fieldset
      legend="Agregar Ayuda"
      [toggleable]="true"
      [collapsed]="true"
    >
      <app-add-helper (reload)="getHelpersByCarerId()"></app-add-helper>
    </p-fieldset>
  </section>
  <section class="form__add">
    <app-collapse-panel #panel>
      <app-edit-helper
        #editHelper
        (collapse)="collapsePanel()"
        (reload)="getHelpersByCarerId()"
      ></app-edit-helper>
    </app-collapse-panel>
  </section>
  <section class="mt-5">
    <div class="content__cards">
      <div
        class="content__card"
        *ngFor="let helper of helpersCarer; let i = index"
      >
        <div>
          <app-card
            [helper]="helper"
            (clickEdit)="updateCategory(helper)"
            (clickContent)="showSelectAsistense(helper.helperId)"
            (clickDelete)="deleteHelper(helper.helperId)"
          ></app-card>
        </div>
      </div>
    </div>
  </section>
  <app-message-not-content
    *ngIf="!helpersCarer.length"
  ></app-message-not-content>
</section>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  key="positionDialog"
  [position]="'top'"
  [baseZIndex]="10000"
  #cd
>
  <p-footer>
    <button type="button" class="btn btn-primary" (click)="cd.reject()">
      <i class="pi pi-times"></i> Cancelar
    </button>
    <button type="button" class="btn btn-primary" (click)="cd.accept()">
      <i class="pi pi-check"></i> Aceptar
    </button>
  </p-footer>
</p-confirmDialog>

<p-toast key="toastHelper" position="top-right"></p-toast>
