<section #collapsePanel class="panel">
  <div #panelContent class="panel__content">
    <section class="container__nav">
      <nav class="header__nav">
        <div class="header__logo px-md-1 pt-md-3">
          <img class="img-fluid" src="assets/Images/logo/logo_3.png" alt="logo de vitaapp" />
          <img class="img-fluid mt-2" src="assets/Images/logo/u_c.png" alt="Logo de la Universidad de Cuenca" />
        </div>
        <ul class="nav__ul px-4 px-md-0">
          <li routerLink="/adulto-mayor" routerLinkActive="border-color-primary">
            <i class="flaticon flaticon-couple me-lg-3"></i><span class="hidden__content"> Agregar Adulto</span>
          </li>
          <li routerLink="/asignar-tablero" routerLinkActive="border-color-primary">
            <i class="flaticon flaticon-bulletin-board me-lg-3"></i><span class="hidden__content"> Asignar
              Categorías</span>
          </li>
          <li routerLink="panel/editar-categorias" routerLinkActive="border-color-primary">
            <i class="flaticon flaticon-edit me-lg-3"></i><span class="hidden__content"> Editar</span>
          </li>


          <li routerLink="ayuda/crear-ayuda" routerLinkActive="border-color-primary">
            <i class="flaticon flaticon-help-1 me-lg-3"></i><span class="hidden__content">Ayudas</span>
          </li>
          <li routerLink="mensajes" routerLinkActive="border-color-primary">
            <i class="pi pi-envelope me-lg-3" pBadge [value]="firebase.totalNotRead"></i><span
              class="hidden__content">Mensajes</span>
          </li>
          <li class="text-danger" (click)="logout()">
            <i class="flaticon flaticon-logout me-lg-3"></i><span class="hidden__content"> Salir</span>
          </li>
        </ul>
      </nav>
    </section>
  </div>
</section>
