<div class="card" *ngIf="category" [ngStyle]="{ 'background-color': '#' + category.color }">
  <div class="card-content">
    <div class="card-body pb-0">
      <div class="media d-flex" (click)="clickedContent()">
        <div class="" style="max-width: 110px">
          <img class="img-fluid" [src]="category.imageUrl" alt="" />
        </div>
        <div class="media-body text-end" style="flex: 1 1 auto">
          <h3 class="fw-bolder text-capitalize">{{ category.name }}</h3>
          <span>{{ category.description }}</span>
        </div>
      </div>
      <div class="gestion">
        <div (click)="clickedDelete()">
          <i class="fas fa-trash"></i> Eliminar
        </div>
        <div (click)="clickedEdit()"><i class="fas fa-edit"></i> Modificar</div>
        <div (click)="clickedGrid()"><i class="flaticon-grid-2"></i> Grid</div>
      </div>
    </div>
  </div>
</div>

<div class="card" [ngStyle]="{ 'background-color': '#' + categoryView.color }" *ngIf="categoryView">
  <div class="card-content">
    <div class="card__close">
      <i class="pi pi-times" *ngIf="showClose" (click)="clickedDelete()"></i>
    </div>
    <div class="card-body" (click)="clickedContent()">
      <div class="media d-flex">
        <div class="" style="max-width: 110px">
          <img class="img-fluid" [src]="categoryView.imageUrl" alt="" />
        </div>
        <div class="media-body text-end" style="flex: 1 1 auto">
          <h3 class="fw-bolder text-capitalize">{{ categoryView.name }}</h3>
          <span>{{ categoryView.description }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" [ngStyle]="{
    'background-color': '#' + subcategory.color
  }" *ngIf="subcategory">
  <div class="card-content">
    <div class="card-body pb-0">
      <div class="media d-flex" (click)="clickedContent()">
        <div class="img-card" style="width: 75px">
          <img class="img-fluid" [src]="subcategory.imageUrl" alt="" />
        </div>
        <div class="media-body text-end" style="flex: 1 1 auto">
          <h3 class="fw-bolder text-capitalize">{{ subcategory.name }}</h3>
          <span>{{ subcategory.description }}</span>
        </div>
      </div>
      <div class="gestion">
        <div (click)="clickedDelete()">
          <i class="fas fa-trash"></i> Eliminar
        </div>
        <div (click)="clickedEdit()"><i class="fas fa-edit"></i> Modificar</div>
      </div>
    </div>
  </div>
</div>
<div class="card" [ngStyle]="{ 'background-color': '#' + subcategoryView.color }" *ngIf="subcategoryView">
  <div class="card-content">
    <div class="card__close">
      <i class="pi pi-times" *ngIf="showClose" (click)="clickedDelete()"></i>
    </div>
    <div class="card__close">
      <i class="pi pi-times" *ngIf="showClose" (click)="clickedDelete()"></i>
    </div>
    <div class="card-body" (click)="clickedContent()">
      <div class="media d-flex">
        <div class="" style="max-width: 110px">
          <img class="img-fluid" [src]="subcategoryView.imageUrl" alt="" />
        </div>
        <div class="media-body text-end" style="flex: 1 1 auto">
          <h3 class="fw-bolder text-capitalize">{{ subcategoryView.name }}</h3>
          <span>{{ subcategoryView.description }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card" [ngStyle]="{
    'background-color': '#' + pictogramView.color
  }" *ngIf="pictogramView">
  <div class="card-content">
    <div class="card__close">
      <i class="pi pi-times" *ngIf="showClose" (click)="clickedDelete()"></i>
    </div>
    <div class="card-body card-body-pic" (click)="clickedContent()">
      <div class="">
        <div class="img-card img-card-pic">
          <img class="img-fluid" [src]="pictogramView.imageUrl" alt="" />
        </div>
        <div class="media-body text-center pictogram__text">
          {{ pictogramView.name }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" [ngStyle]="{
    'background-color': '#' + pictogram.color
  }" *ngIf="pictogram">
  <div class="card-content">
    <div class="card-body p-0">
      <div class="">
        <div class="img-card" style="width: 100%">
          <img class="img-fluid" [src]="pictogram.imageUrl" alt="" />
        </div>
        <div class="media-body text-center">
          {{ pictogram.name }}
        </div>
      </div>
      <div class="gestion">
        <div (click)="clickedDelete()">
          <i class="fas fa-trash"></i>
        </div>
        <div (click)="clickedEdit()"><i class="fas fa-edit"></i></div>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="helper" [ngStyle]="{ 'background-color': '#' + helper.color }">
  <div class="card-content">
    <div class="card-body pb-0">
      <div class="media d-flex" (click)="clickedContent()">
        <div class="" style="max-width: 110px">
          <img class="img-fluid" [src]="helper.imageUrl" alt="" />
        </div>
        <div class="media-body text-end" style="flex: 1 1 auto">
          <h3 class="fw-bolder text-capitalize">{{ helper.name }}</h3>
        </div>
      </div>
      <div class="gestion">
        <div (click)="clickedDelete()">
          <i class="fas fa-trash"></i> Eliminar
        </div>
        <div (click)="clickedEdit()"><i class="fas fa-edit"></i> Modificar</div>
      </div>
    </div>
  </div>
</div>
