@import "../../../../assets/scss/card-form-cat-sub";
.card {
  height: 100%;
}
.card-content {
  position: relative;

  .media-body {
    h3 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .card__close {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 100;
    font-size: 1rem;
  }

  .pictogram__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.1;
  }
}

.img-card-pic {
  text-align: center;
  width: calc(100% - 2rem);

  margin: auto;
}

.card-body-pic {
  padding: 0.25rem 0 !important;
}
