@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?14dd10770bc19f9e7da4617f4774702a") format("truetype"),
url("./flaticon.woff?14dd10770bc19f9e7da4617f4774702a") format("woff"),
url("./flaticon.woff2?14dd10770bc19f9e7da4617f4774702a") format("woff2"),
url("./flaticon.eot?14dd10770bc19f9e7da4617f4774702a#iefix") format("embedded-opentype"),
url("./flaticon.svg?14dd10770bc19f9e7da4617f4774702a#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-couple:before {
    content: "\f101";
}
.flaticon-bulletin-board:before {
    content: "\f102";
}
.flaticon-schedule:before {
    content: "\f103";
}
.flaticon-left-arrow:before {
    content: "\f104";
}
.flaticon-arrow:before {
    content: "\f105";
}
.flaticon-add:before {
    content: "\f106";
}
.flaticon-logout:before {
    content: "\f107";
}
.flaticon-plus:before {
    content: "\f108";
}
.flaticon-add-1:before {
    content: "\f109";
}
.flaticon-delete:before {
    content: "\f10a";
}
.flaticon-delete-1:before {
    content: "\f10b";
}
.flaticon-check-mark:before {
    content: "\f10c";
}
.flaticon-success:before {
    content: "\f10d";
}
.flaticon-edit:before {
    content: "\f10e";
}
.flaticon-pen:before {
    content: "\f10f";
}
.flaticon-profile:before {
    content: "\f110";
}
.flaticon-grid:before {
    content: "\f111";
}
.flaticon-comment:before {
    content: "\f112";
}
.flaticon-grandfather:before {
    content: "\f113";
}
.flaticon-help-1:before {
    content: "\f114";
}
.flaticon-folder-1:before {
    content: "\f115";
}
.flaticon-planet:before {
    content: "\f116";
}
.flaticon-oops-1:before {
    content: "\f117";
}
.flaticon-delete-2:before {
    content: "\f118";
}
.flaticon-grid-2:before {
    content: "\f119";
}
.flaticon-header:before {
    content: "\f11a";
}
.flaticon-header-1:before {
    content: "\f11b";
}
