@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?f0e179bbd4d7c303a5c04dc1883d8bd8") format("truetype"),
url("./flaticon.woff?f0e179bbd4d7c303a5c04dc1883d8bd8") format("woff"),
url("./flaticon.woff2?f0e179bbd4d7c303a5c04dc1883d8bd8") format("woff2"),
url("./flaticon.eot?f0e179bbd4d7c303a5c04dc1883d8bd8#iefix") format("embedded-opentype"),
url("./flaticon.svg?f0e179bbd4d7c303a5c04dc1883d8bd8#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-add-1:before {
    content: "\f101";
}
.flaticon-add:before {
    content: "\f102";
}
.flaticon-arrow:before {
    content: "\f103";
}
.flaticon-bulletin-board:before {
    content: "\f104";
}
.flaticon-check-mark:before {
    content: "\f105";
}
.flaticon-comment:before {
    content: "\f106";
}
.flaticon-couple:before {
    content: "\f107";
}
.flaticon-delete-1:before {
    content: "\f108";
}
.flaticon-delete:before {
    content: "\f109";
}
.flaticon-edit:before {
    content: "\f10a";
}
.flaticon-grandfather:before {
    content: "\f10b";
}
.flaticon-grid:before {
    content: "\f10c";
}
.flaticon-help-1:before {
    content: "\f10d";
}
.flaticon-left-arrow:before {
    content: "\f10e";
}
.flaticon-logout:before {
    content: "\f10f";
}
.flaticon-pen:before {
    content: "\f110";
}
.flaticon-plus:before {
    content: "\f111";
}
.flaticon-profile:before {
    content: "\f112";
}
.flaticon-schedule:before {
    content: "\f113";
}
.flaticon-success:before {
    content: "\f114";
}
