<section>
  <nav class="nav__top">
    <ul>
      <li>
        <button
          type="button"
          class="btn"
          role="button"
          (click)="selectPictograms()"
        >
          <i class="flaticon flaticon-plus"></i> Selecionar
        </button>
      </li>
    </ul>
  </nav>
</section>
<section class="mt-4 container">
  <h2 class="title">{{ pageCurrent }}</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-bg">
      <li
        [ngClass]="
          i === 2 ? 'breadcrumb-item m-0 active' : 'breadcrumb-item  m-0'
        "
        *ngFor="let item of subMenuNavigation; let i = index"
        (click)="goToPage(i)"
      >
        {{ item }}
      </li>
    </ol>
  </nav>
</section>
<section class="container container__global">
  <section class="form__add">
    <app-collapse-panel #panel>
      <app-edit-pictogram
        #editPictogram
        (collapse)="collapsePanel()"
        (reloadPictograms)="getPictogramsCarer()"
      ></app-edit-pictogram>
    </app-collapse-panel>
  </section>
  <hr />
  <section>
    <div class="content__cards">
      <div
        class="content-pictogram__card"
        *ngFor="let pictogram of pictogramsCarer; let i = index"
      >
        <div>
          <app-card
            [pictogram]="pictogram"
            (clickEdit)="updatePictogram(pictogram)"
            (clickDelete)="deletePictogram(pictogram.pictogramCarerId)"
          ></app-card>
        </div>
      </div>
    </div>
  </section>
  <app-message-not-content
    *ngIf="!pictogramsCarer.length"
  ></app-message-not-content>
</section>

<!-- <section class="submenu">
  <app-submenu [showEdit]="true"></app-submenu>
</section> -->

<p-confirmDialog
  [style]="{ width: '50vw' }"
  key="positionDialog"
  [position]="'top'"
  [baseZIndex]="10000"
  #cd
>
  <p-footer>
    <button type="button" class="btn btn-primary" (click)="cd.reject()">
      <i class="pi pi-times"></i> Cancelar
    </button>
    <button type="button" class="btn btn-primary" (click)="cd.accept()">
      <i class="pi pi-check"></i> Aceptar
    </button>
  </p-footer>
</p-confirmDialog>

<p-toast key="toastPictogram" position="top-right"></p-toast>
