<div #contenedor class="categories" cdkDropListGroup>
  <ng-container *ngFor="let item of items; let i = index">
    <div
      class="categories-item"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="{ item: item, index: i }"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="inner" cdkDrag>
        <div class="placeholder" *cdkDragPlaceholder></div>
        {{ item }}
      </div>
    </div>
  </ng-container>
</div>
{{ items | json }}
<select [(ngModel)]="option">
  <option value="15rem">2 x 6</option>
  <option value="20rem">3 x 4</option>
  <option value="25rem">4 x 3</option>
  <option value="35rem">6 x 2</option>
</select>

<div #contenedor class="categories" [style.width]="option" cdkDropListGroup>
  <ng-container *ngFor="let item of items; let i = index">
    <div
      class="categories-item"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="{ item: item, index: i }"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="inner" cdkDrag>
        <div class="placeholder" *cdkDragPlaceholder></div>
        {{ item }}
      </div>
    </div>
  </ng-container>
</div>
{{ items | json }}
