<div class="container-page-404">
  <div class="page-404">
    <div class="icon-404">
      <img src="/assets/Images/emoji.png" alt="cara triste" />
    </div>
    <div class="text-404">
      <h1>404</h1>
      <h3>Opss! Error la ruta solicitada no existe.</h3>
      <p>
        La ruta proporcionada no existe o ha sido removida, por favor si el
        problema persiste comuníquese con el administrador del sitio.
        <br />
        <span class="text-primary">christian.collaguazom@gmail.com</span>
        <br />
        <br />
        <a routerLink="/adulto-mayor">Volver al inicio.</a>
      </p>
    </div>
  </div>
</div>
