<div #contenedor class="content__cards" cdkDropListGroup>
  <ng-container *ngFor="let item of items; let i = index">
    <div
      class="content-pictogram-grid__card"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="{ item: item, index: i }"
      (cdkDropListDropped)="drop($event)"
    >
      <div cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <app-card [pictogramView]="pictogram"></app-card>
      </div>
    </div>
  </ng-container>
</div>
